[build-system]
requires = ["setuptools>=42", "wheel", "pybind11>=2.6.0",]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 88

[tool.isort]
profile = "black"
skip_gitignore = true
known_third_party = "PIL,pytorch_msssim,torchvision,torch"